<%= render 'layouts/header'%>
<h1>Create Group</h1>

<div 
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="boxed">
    <%= form_for(@group) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Group name" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password, "Group password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Group password confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my group!", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
</div>