<%= render 'layouts/header'%>

<h1><%= @group.name %></h1>

<div><center><%= link_to "Add Member", new_user_path %></center></div>
	
  		
  			
	    <% if @group.users.any? %>
	      <center><h3>Group members (<%= @group.users.count %>)</h3></center>
	      <ol class="users">
	        <%= render @users %>
	      </ol>
	    <% end %>
	
